[Unit]
Description=ROS2 device driver container
Requires=multi-user.target
After=multi-user.target

[Service]
Restart=always
ExecStartPre=/usr/bin/docker rm -f go2py_hesai || true
ExecStart=/bin/bash -c '/usr/bin/docker run --rm --name go2py_hesai --privileged --network host -v /home/unitree/locomotion:/home/locomotion -v /dev/*:/dev/* -v /etc/localtime:/etc/localtime:ro --runtime nvidia go2py_hesai:latest' 
ExecStop=/usr/bin/docker stop -t 2 go2py_hesai

[Install]
WantedBy=default.target